<div class="container">
	<fieldset>
		<legend>Registration</legend>
		<form name="frmSignUp" novalidate>
			
			<input type="text" name="firstName" placeholder="First Name" ng-model="signUpCtrl.user.firstName" minlength="3" required />
			<span ng-if="(frmSignUp.firstName.$error.minlength || frmSignUp.firstName.$error.required) && frmSignUp.firstName.$touched">
            	First Name must be at least 3 characters long
			</span>
			<br />
			
			<input type="text" name="lastName" placeholder="Last Name" ng-model="signUpCtrl.user.lastName" minlength="3" required />
			<span ng-if="(frmSignUp.lastName.$error.minlength || frmSignUp.lastName.$error.required) && frmSignUp.lastName.$touched">
            	Last Name must be at least 3 characters long
			</span>
			<br />
			
			<input type="email" name="email" placeholder="E-mail" ng-model="signUpCtrl.user.email" required />
			<span ng-if="frmSignUp.email.$invalid && frmSignUp.email.$touched">
            	Must be a valid email address: user@domain format
          	</span>
			<br />
			
			<input type="text" name="phone" placeholder="Phone ###-###-####"" ng-model="signUpCtrl.user.phone" required 
					pattern="(\d{3})-(\d{3})-(\d{4})" />
          	<span ng-if="frmSignUp.phone.$invalid && frmSignUp.phone.$touched">
	            Phone must be in the format ###-###-####.
          	</span>
			<br />

			<input type="text" name="txtFavoriteDish" placeholder="Favorite Dish Code (ex: A10)" ng-model="signUpCtrl.user.favoriteDish" />
			<span ng-if="signUpCtrl.error">
				{{ signUpCtrl.errorMessage }}
			</span>	
			<br />

			<button ng-disabled="frmSignUp.$invalid" ng-click="signUpCtrl.submit()">Submit</button> 

			<br /><br />
			
			<span ng-if="signUpCtrl.success">
				Your information has been saved.
			</span>

		</form>
	</fieldset>
</div>